<!DOCTYPE html>


<link href="~/CSS/IndexStyleSheet.css" rel="stylesheet" type="text/css" />
<html>
<body>
<h3>You have successfully submitted your form!</h3>
<button onclick="window.location.href = '/Home/Index';">Go back</button>
</body>
</html>
