@model WebMailSender.Model
<!DOCTYPE html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" charset="utf-8"></script>
<link href="~/CSS/IndexStyleSheet.css" rel="stylesheet" type="text/css" />
<html>

<body>

    <from class="login-form">
        <h1 >Registration to party</h1>
        @using (Html.BeginForm("Create", "Home", FormMethod.Post))
        {
    <div class="txt">

        <h4>Email</h4>
        <span data-placeholder="Email"></span>
        @Html.TextBoxFor(model => model.Email, new { Class = "txtb" })
        <span data-placeholder="Email"></span>

    </div>

            <div class="txt">

                <h4>Name</h4>
                <span data-placeholder="Name"></span>
                @Html.TextBoxFor(model => model.PersonName, new { Class = "txtb" })

            </div>
            <input style="color: black" type="submit" class="loginButton" value="Send" href="/home/Index" />
        }
    </from>
</body>

</html>