@model WebMailSender.Model
    <style>
        /*div {
            height: 200px;
            width: 400px;
            background: white;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -100px;
            margin-left: -200px;
        }

        input {
           
            background: red;
            
        }*/
    </style>
    <h2>Registration to party</h2>
@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
<div class="editor-label">

    @Html.Label("Email")
    @Html.TextBoxFor(model => model.Email)
</div>

<div class="editor-label">
    @Html.Label("Name")
    @Html.TextBoxFor(model => model.PersonName)

</div>
    <input type="submit" value="Send" href="/home/Index" />

    
}

